;(function(exports, undefined) {
  exports.Config = {
    // Grab these from your pusher.com dashboard. Remember you need client events enabled on the app: http://pusher.com/docs/client_api_guide/client_events#trigger-events
    key: '',
    secret: ''
  }
})((typeof exports !== 'undefined' ? exports : this));